pyrogram
tgcrypto
aiohttp
psutil
curl_cffi  # <--- REQUIRED for Cloudflare bypass
yt-dlp @ https://github.com/yt-dlp/yt-dlp/archive/master.zip
https://github.com/pratikpatel8982/yt-dlp-hianime/archive/master.zip
